TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
IPADDR0={{ provisioning_vm.ipv4.address }}
IPADDR1={{ cluster.ipv4.api }}
IPADDR2={{ cluster.ipv4.ingress }}
PREFIX={{ baremetal_network.ipv4.network | ipaddr('prefix') }}
GATEWAY0={{ baremetal_network.ipv4.gateway }}
DNS1={{ baremetal_network.ipv4.dns }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME="baremetal"
DEVICE=eth0
ONBOOT=yes
AUTOCONNECT_PRIORITY=-999
IPV6_DISABLED=yes
