rhn:
  activationkey: %%YOUR_ACTIVATION_KEY_GOES_HERE%%
  org_id: %%YOUR_ORG_ID_GOES_HERE%%
  pool: %%POOL_NAME_GOES_HERE%%
cluster:
  version: 4.8.2
  domain: example.com
  name: openshift
  networkType: OpenShiftSDN
  ipv4:
    api: 192.168.234.10
    ingress: 192.168.234.11
  ntp_servers:
  - 141.30.228.4
  - 62.116.162.126
nodes:
  ipxe_image: ipxe-snponly-x86_64.efi
  masters:
   - de:ad:be:ef:01:01
   - de:ad:be:ef:01:02
   - de:ad:be:ef:01:03
  workers:
   - de:ad:be:ef:02:04
   - de:ad:be:ef:02:05
baremetal_network:
  ipv4:
    network: 192.168.234.0/24
    gateway: 192.168.234.254
    dns: 8.8.8.8
    dhcp:
      start: 192.168.234.12
      end: 192.168.234.99
provisioning_host:
  packages:
  - libvirt
  - virt-install
  - libguestfs-tools
provisioning_vm:
  vcpus: 4 
  memory: 16384
  disk: 120
  image: /var/lib/libvirt/images/provisioning_vm.qcow2
  rhel_image: /var/lib/libvirt/images/rhel-8-x86_64-kvm.qcow2
  root_password: redhat
  ipv4:
    address: "{{ hostvars.provisioning_vm.ansible_host }}"
  packages:
  - dnsmasq
  - ipxe-bootimgs
  - nginx
  - haproxy
bootstrap_vm:
  vcpus: 4
  memory: 16384
  disk: 120
  image: /var/lib/libvirt/images/bootstrap_vm.qcow2
  mac: 52:54:00:c0:ff:ee
